<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title ==='Angular'">
    esto es mi práctica en angular
</div>

<hr>

<div>
    <button (click)="addItem()">agregar</button>
    <ul>
        <li *ngIf="items.length === 0">La lista está vacía</li>
        <li *ngFor="let item of items; index as i">
            {{item}} {{i}}
            <button (click)="deleteItem(i)">delete</button>

        </li>
    </ul>
</div>

<hr>

<div *ngFor="let product of products">
    <h4><u>{{product.curso}}</u></h4>

    <img [src]="product.image" alt="">
</div>

<hr>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Nicolas'">Nicolás</p>
    <p *ngSwitchCase="'Julian'">Julián</p>
    <p *ngSwitchCase="'Camilo'">Camilo</p>
    <p *ngSwitchDefault>no hay match</p>
</div>